html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

#p5-video {
  position: absolute;
  left: 0px;
  top: 0px;
  /* uncomment the line below to flip the video. */
  /* transform: scale(-1, 1); */
  z-index: -1;
}